body {
    background-color: #040f33;
    font-family: "Comfortaa", serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body .warning_area {
    display: none;
}

.body .workarea {
    display: block;
    position: relative;
}

.title {
    background-color: #000926;
    padding: 0.25rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.title .narrow_logo {
    width: 160px;
}

.title h1 {
    color: #040f33;
    background-color: #e2e9ff;
    font-size: 1.2rem;
    padding: 0.05rem 2rem;
    border-radius: 5rem;
}

.check_list_area {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 2rem 1rem;
    height: 80vh;
    overflow-y: scroll;
}

.check_list {
    max-width: 320px;
}

.check_item {
    margin-bottom: 0.5rem;
    background-color: #ffffff0f;
    /* padding-bottom: 0.25rem; */
    padding-left: 2.5rem;
    border-radius: 1rem;
    width: 280px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sub_check_item {
    margin-bottom: 0.5rem;
}

.sub_check_list_none .sub_check_item {
    background-color: #ffffff0f;
    padding-bottom: 0.25rem;
    padding-left: 2.5rem;
    border-radius: 1rem;
}

.sub_check_list {
    padding-left: 1rem;
}

.sub_check_list_none {
    padding-left: 1rem;
}

input[type="checkbox"] {
    /* transform: scale(1.2); */
    /* margin: 10px; */
}

label {
    font-size: 1.2rem;
    color: #fff;
}

input:focus,
select:focus {
    box-shadow: none !important;
}

.footer {
    position: fixed;
    bottom: auto;
    left: 0;
    width: 100%;
    background-color: #ffffff1f;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.author {
    color: #fff;
    font-size: 0.8rem;
}

.author a {
    color: #d8e1ff;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #354b93;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5874d0;
}